
    
    h1{
      text-align: left;
      font-family:sans-serif;
      font-size: 40px;
	  padding-left: 30px;
    }
.sidebar {
      height: 600px;
      width: 270px;
      background-color: black;
      overflow-x: hidden;
      padding-top: none;
}
.sidebar a {
  font-size: 16px;
        }

        .sidebar a:hover {
     				color: black;
   				  background-color: #ffbc0d;
   				}
   		.sidebar a:link, a:visited {
     				background-color: black;
     				color: dimgrey;
     				padding: 15px 25px;
     				text-align: center;
     				text-decoration: none;
     				display: inline-block;
   				}
          a.active {
           background-color: #ffbc0d;
           color: black;
         }
        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 2px;}
          .sidebar a {font-size: 8px;}
        }




html {
  box-sizing: content-box;
}
.text-section {
	width: 600px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	margin: auto;
    background-color: white; opacity: 85%;
    overflow-x: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-align: center;


}
